<section class="bg-zinc-900/30 border-white/5 border-b pt-12 pb-12">
  <div class="max-w-7xl mx-auto px-6">
    <a
      href="https://www.hirethestarters.com/"
      target="_blank"
      rel="noreferrer"
      class="group block hover:bg-white/[0.04] transition-all cursor-pointer w-full max-w-3xl border-white/5 border rounded-xl mx-auto p-6"
    >
      <div class="flex flex-col md:flex-row items-center gap-6">
        <div class="flex-shrink-0 p-3 bg-zinc-950 border border-white/10 rounded-lg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            role="img"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            >
              <path d="m15.477 12.89l1.515 8.526a.5.5 0 0 1-.81.47l-3.58-2.687a1 1 0 0 0-1.197 0l-3.586 2.686a.5.5 0 0 1-.81-.469l1.514-8.526"></path>
              <circle cx="12" cy="8" r="6"></circle>
            </g>
          </svg>
        </div>
        <div class="text-center md:text-left flex-1">
          <h3 class="group-hover:text-emerald-400 transition-colors flex items-center justify-center md:justify-start gap-2 text-sm font-medium mb-1">
            Recognized by The Starters
            <svg
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="img"
              width="12"
              height="12"
              viewBox="0 0 24 24"
            >
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 3h6v6m-11 5L21 3m-3 10v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
              ></path>
            </svg>
          </h3>
          <p class="leading-relaxed text-xs text-zinc-400">
            A vetted community of Top eCommerce Talent. GLF's profile highlights 7+ years helping brands like Unilever and Gotham Goods leverage data to scale.
          </p>
        </div>
      </div>
    </a>
  </div>
</section>
